h1 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
p {
font-weight: 300;
font-family: 'Times New Roman', Times, serif;
color: #333;
font-size: 18px;
margin-left: 20px;
}
a {
text-decoration: none;
font-size: 20px;
margin-left: 150px;
}
body {
background: #313D52;
}
